.form {
    background-color: #fff;
    border-radius: 10px;
}


.form__item_type_error {
    border-bottom: rgb(255, 0, 0);
}

.form__item-error {

    width: 358px;
    color: red;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0 8.3%;
}

