.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
    padding: 36.25px 0 47.25px;
}
@media all and (max-width: 950px) {
    .profile { 
        margin: 0 35px;
    }
}

@media all and (max-width: 850px) {
    .profile {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media all and (max-width: 550px) {
    .profile {
        max-width: 288px;
        padding: 38.25px 0 36px;
    }
}

.profile__avatar {
    max-width: 120px;
    padding: 3.75px 26.25px 3.75px 22.5px;
    /*max-width: 168.75px;*/
    border-radius: 50%;
}

@media all and (max-width: 550px) {
    .profile__avatar {
   
        margin: 0 auto;
    }
}


.profile__info {
    display: flex;
    color: #FFF;
}


@media all and (max-width: 550px) {
    .profile__info {
        flex-direction: column;
        max-width: 282px;

    }
}

.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}

@media all and (max-width: 550px) {
    .profile__name {
        font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;  

    }
}

.profile__about {
    margin: 16px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}
@media all and (max-width: 850px) {
    .profile__about {
    margin: 14px 0 36px;
} 
}

@media all and (max-width: 550px) {
    .profile__about {

font-size: 14px;
line-height: 17px;
text-align: center;  

    }
}


.add-button {
    padding: 0;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-color: #000;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 2px;  
    background-image: url(../../images/+.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.add-button:hover {
    opacity: 0.6;
}


@media all and (max-width: 550px) {
    .add-button {
        width: 282px;
        margin: 0;
    }
}

.edit-button {
 
    background-image: url(../../images/Edit-Button.svg);
    width: 24px;
    height: 24px;
    margin: auto 30px auto 0;
    cursor: pointer;
}
.edit-button:hover {
    opacity: 0.6;
}
@media all and (max-width: 550px) {
    .edit-button {
        margin: auto 0;
    }
}
.profile__text {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-content: center;
    column-gap: 18px;
    margin-top: 22.25px;
}
@media all and (max-width: 450px) {
    .profile__text {
        justify-content: center;
        column-gap: 10;
        grid-template-columns:189px 25px;

    }
}