.header {
    box-sizing: border-box;
    max-width: 880px;
    margin: 45px auto 0;
}
@media all and (max-width:950px) {
    .header {
        margin: 45px 35px 0;
    } 
}

@media all and (max-width: 320px){
    .header {
        max-width: 320px;
        margin: 28px 0 0;
    }
}

