.header {
    box-sizing: border-box;
    max-width: 880px;
    margin: 45px auto 0;
}
@media all and (max-width:950px) {
    .header {
        margin: 45px 35px 0;
    } 
}

@media all and (max-width: 320px){
    .header {
        max-width: 320px;
        margin: 28px 0 0;
    }
}
.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media all and (max-width: 320px){
    .header__logo {
       max-width: 103.74px;
       padding-bottom: 31.6px;
       padding-left: 27px;
    }
}
.line {
    margin: 0;
    size: 0;
    color: #545454;
    opacity: 0.7;
}